*{
	font-family: sans-serif;
}
header{
text-align: center;
padding: 5px;
background-color: gray;
color: white;
top: 0;
width: 100%;
position: fixed;
margin-top: 0;
}
a:link.headerLink, a:visited.headerLink {
color: black;
}
header a:link.headerLink, header a:visited.headerLink {
background-color: floralwhite;
color: black;
border: 2px solid black;
padding: 10px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
}
header a:hover.headerLink{
background-color: black;
color: white;
}
img.headerLogo{
	width:  125px;
	float: left;
	margin: 0px;
}
#headerLink{

}
