body{
background-image: url("sand.jpeg");
background-attachment: scroll;
background-size: cover;
}
.text{
background-color: rgba(237, 237, 237, 0.7);
border-radius: 20px;
padding: 10px;
margin-bottom: 50px;
font-family: dancing script;
}
.head{
background-color: rgba(237, 237, 237, 0.7);
display: inline-block;
padding: 10px;
border-radius: 15px;
}