*{
font-family: sans-serif;
}

:root {
--footer_color: #4C6085;
}

h4{
margin-top: 10px;
font-weight: normal;
text-align: center;
font-size: 20px;
}

footer{
text-align: center;
padding: 3px;
background-color: var(--footer_color);
color: white;
position: fixed;
left: 0;
bottom: 0;
width: 100%;
}
a:link, a:visited {
color: black;
}
footer a:link, footer a:visited {
  background-color: #F1F2EE;
  color: black;
  border: 2px solid #EE6352;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

footer a:hover {
  background-color: #EE6352;
  color: white;
}

footer a:active {
background-color: var(--footer_color);
color: white;
border: 0px
}
body{
	margin: 0;
}
.text{
	font-size: 20px;
  font-family: sans-serif;
}
.div {
   text-align: center;
 }

.div pre {
  display: inline-block;
  text-align: left;
 }
 .footer{
text-align: center;
}