body{
background-color: #3bc6ff;
background-position: top left;
background-image: url("island.png");
background-attachment: scroll;
background-size: 29%;
}
.text{
padding: 30px;
background-color: rgba(237, 237, 237, 0.7);
border-radius: 20px;
font-family: 'Island Moments', cursive;
font-size: 50px;
}