:root {
--link-color: #1C72B0;
--bgColor: #C4EDFD;
--header_color: #ACECCE;
--text_color: #1F1F1F;
}
*{
font-family: sans-serif;
}
body{
margin: 0;
background-color: var(--bgColor);
}
header{
text-align: center;
padding: 3px;
background-color: var(--header_color);
color: white;
top: 0;
width: 100%;
position: fixed;
}
a:link, a:visited {
color: black;
}
header a:link, header a:visited {
background-color: var(--header_color);
color: black;
border: 2px solid var(--link-color);
padding: 10px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
}
header a:hover{
background-color: var(--link-color);
color: white;
}
.header{
	text-align: center;
}
footer{
padding: 6px;
position: fixed;
left: 0;
bottom: 0;
width: 100%;
}
footer a:link, footer a:visited {
  background-color: #76D0AF;
  color: black;
  border: 2px solid var(--link-color);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  float: right;
  margin-right: 15px;
}

footer a:hover {
  background-color: #76D0AF;
  color: white;
}
.body{
  padding-left: 8px;
  padding-right: 8px;
  color: var(--text_color);
}
https://coolors.co/26385b-294d8e-84a7bf-cfc5a7-94895e-767063-f4f4ef-929293-767d87-373737